
h1 {
  text-align: center;
  font-size: 70px;
  font-family: cursive;
}

body {
  background-color: #D9E4FD;
}

.head1 {
  background-color: #2A8DFE;
}

.flex-container {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.square {
  width: 100px;
   height: 100px;
    background-color: #F9F8F8;
    text-align: center;
    font-size: 70px;
    font-family: 'Caveat Brush';
}

.vert {
  border-left: 2px solid #326FFE;
  border-right: 2px solid #326FFE;
}
.hori {
  border-top: 2px solid #326FFE;
  border-bottom: 2px solid #326FFE;
}

.board {
  width: 318px;
}

.box-container {
  height: 100%;
  width: 100%;
}

.scoreboard {
  width: 400px;
  height: 100px;
  border: solid 2px #9257F7;
  float: left;
  margin-left: 420px;
  background-color: #E29FFE;
}

.square:hover {
  background-color: #92C5FE;
   cursor:pointer;
}

#restart {
  height: 40px;
  width: 100px;
  background-color: #866EFD;
  margin: 2rem auto;
  padding: 0.5rem 1.0rem;
  margin-left: 400px;
}

#restart:hover {
  cursor:pointer;
}

#message {
  font-size: 20px;
  padding-left: 350px;
}
