h1 {
  text-align: center;
  font-size: 70px;
  font-family: cursive;
}

body {
  background-color: #FED2E2;
}

#head1 {
  background-color: #FE6565;
}

#square {
  width:100px;
    height:100px;
    border: solid 4px black;
    text-align: center;
    font-size: 80pt;
    background-color: #FA6234;
}

#board {
  float: left;
  margin-left: 480px;
}

#score {
  padding-top: 10px;
padding-bottom: 50px;
}

#scoreboard {
  width: 400px;
  height: 100px;
  border: solid 3px black;
  float: left;
  margin-left: 440px;
  background-color: #FECCCC;
  font-size: 26px;
  font-family: Helvetica;
}

#square:hover {
  background-color: #FD7A52;
   cursor:pointer;
}

#reset {
  height: 40px;
  width: 100px;
  background-color: red;
}
